.vs
.vsconfig
Abandoned in an alone dust.sln
Assembly-CSharp.csproj
/Library
/Logs
/Packages
/UserSettings
/obj
/Assets/Animation
/Assets/Libraries
/Assets/Resources
/Assets/PostProcessing
/Assets/Prefabs
/Assets/Scenes
/Assets/TextMesh Pro
/Assets/Textures
Assets/SelenirumFont SDF.asset
/Assets/Render/GUI
/Assets/Render/Others
/Assets/Render/Ship
/Temp
/Assets/SoundMixer